<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/" class="brand-link">
        <img src="/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">ResumeManager</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/img/ava.jpg" width="160" height="160" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Yurii Mokryi</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-item menu-open">
                    <a href="{{ path('app_company_index') }}"
                       class="nav-link {{ (app.request.get('_route') == 'app_company_index') ? 'active' : '' }}">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p> Companies <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <a href="{{ path('app_resume_index') }}"
                       class="nav-link {{ (app.request.get('_route') == 'app_resume_index') ? 'active' : '' }}">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p> Resumes <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <a href="{{ path('app_resume_statistic') }}"
                       class="nav-link {{ (app.request.get('_route') == 'app_resume_statistic') ? 'active' : '' }}">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p> Statistic <i class="right fas fa-angle-left"></i></p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
