{{ form_start(form) }}
<div class="card-body">
    <div class="form-group">
        {{ form_errors(form.position) }}
        {{ form_label(form.position, 'Position', {'label_attr': {'class': 'requaired_row'}}) }}
        {{ form_widget(form.position, {'attr': {'class': 'form-control', 'placeholder':'Enter position name'}}) }}
    </div>
    <div class="form-group">
        {{ form_errors(form.content) }}
        {{ form_label(form.content, "Content", {'label_attr': {'class': 'requaired_row'}}) }}
        {{ form_widget(form.content, {'attr': {'class': 'form-control', 'data':'Enter resume content'}}) }}
    </div>
    <div class="input-group">
        {{ form_widget(form.filePath) }}
    </div>
    {{ form_widget(form.dateCreate, {'attr': {'class': 'form-control', 'hidden': 'hidden'}}) }}
    {{ form_widget(form.dateUpdate, {'attr': {'class': 'form-control', 'hidden': 'hidden'}}) }}
</div>
<div class="card-footer">
    <button class="btn btn-primary btn-sm">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
