{% extends 'base.html.twig' %}
{% block title %}Resumes{% endblock %}
{% block body %}
    <div class="wrapper">
        {{ include('layouts/_navbar.html.twig') }}
        {{ include('layouts/_sidebar.html.twig') }}
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Resumes</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{{ path('app_resume_index') }}">Resumes</a></li>
                                <li class="breadcrumb-item active">Index</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">List of resumes</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Position</th>
                                            <th>Content</th>
                                            <th>DateCreate</th>
                                            <th>DateUpdate</th>
                                            <th>actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for resume in resumes %}
                                            <tr>
                                                <td>{{ resume.id }}</td>
                                                <td>{{ resume.position }}</td>
                                                <td>{% autoescape %}{{ resume.content | raw }} {% endautoescape %}</td>
                                                <td>{{ resume.dateCreate ? resume.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                                                <td>{{ resume.dateUpdate ? resume.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                                                <td>
                                                    <a href="{{ path('app_resume_show', {'id': resume.id}) }}"
                                                       class="btn btn-info btn-xs">show</a>
                                                    <a href="{{ path('app_resume_edit', {'id': resume.id}) }}"
                                                       class="btn btn-warning btn-xs">edit</a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="7">no records found</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <a href="{{ path('app_resume_new') }}" class="btn btn-primary btn-sm mb-4">Create new</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ include('layouts/_footer.html.twig') }}
    </div>
{% endblock %}
