{% extends 'base.html.twig' %}
{% block title %}Statistic{% endblock %}
{% block body %}
    <div class="js-sent-resumes"
         data-sent-resumes="{{ dataSentResume|serialize(format = 'json') }}"
         data-position="{{ dataPosition|serialize(format = 'json') }}"
    >
    </div>
    <div class="wrapper">
        {{ include('layouts/_navbar.html.twig') }}
        {{ include('layouts/_sidebar.html.twig') }}
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Statistic</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{{ path('app_resume_statistic') }}">Statistic</a>
                                </li>
                                <li class="breadcrumb-item active">Index</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Statistic of resumes</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Resume (position)</th>
                                            <th>Number of companies</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in sentResumeStat %}
                                            <tr>
                                                <td>{{ item.position }}</td>
                                                <td>{{ item.numberOfCompanies }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="7">no records found</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header border-0">
                                    <div class="d-flex justify-content-between">
                                        <h3 class="card-title">Sent resumes</h3>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="position-relative mb-4">
                                        <canvas id="sent-chart" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ include('layouts/_footer.html.twig') }}
    </div>
    <script src="{{ asset('js/sent-chart.js') }}"></script>
{% endblock %}
